<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>

    <div class="container">
        <h1>Todo list</h1>
        <ul>
            {% for task in tasks %}
            <li {% if task.completed %}class="completed"{% endif %}>
                {{ task.description }}
                {% if not task.completed %}
                <a class="complete_btn complete-link" href="{{ url_for('complete_task', index=loop.index0) }}">✅</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <form class="task_adding" action="/add_task" method="POST">
            <input class="task-input" type="text" name="task" placeholder="Enter your task...">
            <button class="add_task_btn" type="submit">➕</button>
        </form>
        <form action="/clear_completed_tasks" method="POST">
            <button class="clear_button" type="submit">Clear completed</button>
        </form>
    </div>

</body>
</html>

